<div class="container">
  <div class="row justify-content-center">
    <section class="col-6 text-center">
      <h1 class="text-uppercase">about</h1>
      <%= image_tag 'ellie-fichtelman.jpg', class: 'rounded-circle img-fluid', style: 'height: 15rem;'%>
      <p><%= lorem.sentences 5 %></p>
    </section>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <section class="col-10 text-center">
      <h1 class="text-uppercase">services</h1>
      <div class="row">
        <div class="col-5 text-left">
          <h2 class="text-uppercase">create your brand</h2>
          <p><%= lorem.sentences 1 %></p>
        </div>
        <div class="col-5 text-left offset-2">
          <h2 class="text-uppercase">build your website</h2>
          <p><%= lorem.sentences 3 %></p>
        </div>
        <div class="col-5 text-left">
          <h2 class="text-uppercase">design your website</h2>
          <p><%= lorem.sentences 4 %></p>
        </div>
        <div class="col-5 text-left offset-2">
          <h2 class="text-uppercase">maintain your website</h2>
          <p><%= lorem.sentences 2 %></p>
        </div>
      </div>
    </section>
  </div>
</div>
